@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face{
  font-family:'InstrumentSans';
  src:url('/fonts/InstrumentSans-VariableFont_wdth,wght.ttf')format('truetype');
}

@font-face{
  font-family:'Phitagate';
  src:url('/fonts/Phitagate-Regular.otf')format('opentype');
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'InstrumentSans', sans-serif;
}
.handwritten {
  font-family: 'Phitagate', sans-serif;
}
